
<script src="{{ url_for('static', filename='login.js') }}"></script>

<hgroup>
  <h2>Login to covid-supply-distro</h2>
</hgroup>

<form id="loginform" onsubmit="login(); return false;">

    <p>I am a:</p>
    <input type="radio" name="role" id="vol" value="vol"><span class="highlight"></span><span class="bar"></span>
    <label for="volunteer">volunteer</label><br>
    <input type="radio" name="role" id="req" value="req"><span class="highlight"></span><span class="bar"></span>
    <label for="a">requestor</label><br>
    <input type="radio" name="role" id="sup" value="sup"><span class="highlight"></span><span class="bar"></span>
    <label for="a">supplier</label><br>
    <input type="radio" name="role" id="med" value="med"><span class="highlight"></span><span class="bar"></span>
    <label for="a">facility</label><br>
    <br>

    <input name="user" type="text"><span class="highlight"></span><span class="bar"></span>
    <label for="user">user</label>
    <br>

    <input name="pwd" type="password"><span class="highlight"></span><span class="bar"></span>
    <label for="pwd">passphrase</label>
    <br>

  <input type="submit" value="Submit">

</form>
